.parent{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header{
    justify-content: center;
    padding: 0;
}


.pageNav{
    position: relative;
    width: 95vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    a{
        text-decoration: none;
        color: rgb(63, 63, 63);
    }

    .config{
        position: relative;

        i{
            font-size: 1.3rem;
            padding: 0.5em;
            cursor: pointer;
        }

        .configMenu{
            display: none;
            position: absolute;
            right: 0;
            top: 3vw;
            background-color: #fff;
            border-radius: 0.3rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: 17rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            ul li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0.5rem;
                border-bottom: 1px solid #ddd;
            }
            
            ul li:last-child {
                border-bottom: none;
            }
            
            ul li p {
                color: rgb(63, 63, 63);
                font-size: 1rem;
                text-decoration: none;
                display: block;
            }
            
            ul li i {
                color: rgb(63, 63, 63);
                font-size: 1.2rem;
            }

            ul li:hover {
                border-radius: 0.2rem;
                background-color: #f2f2f2;
            }
        }
    }

}

section#contactForm {
    display: flex;
    justify-content: center;
    padding: 1em;

    .container.contacto{
        padding: 3em;
        width: 80%;
        h3{
            font-size: 70px;
            text-align: center;
        }
    }

    .container.contacto{
        padding: 1em;

        h3{
            margin: 1%;
        }


    }

    .formLayout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;

       
    }
    .fgroup{
        padding: 1em 0em;
        
        label{
            font-size: 18px;
            margin-bottom: 5px;
            display: inline-block;

            b{
                font: revert;
                font-size: x-large;
                font-weight: 500;
            }
        }

        .finput{
            font-size: 20px;
            border-radius: 5px;
            height: 55px;
            width: 100%;
            border-color: #dedede;
            background-color: #dedede;
            border: none;

            &.textArea{
                height: unset;
            }
        }
    }
    
    .buttonBox{
        display: flex;
        gap: 6%;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: space-between;
        padding: 2em;
        .botonEnviarMensaje{
                background-color: #7b1e21;
                color: white;
                font-size: 24px;
                text-align: center;
                margin: 0.5em 0;
                padding: 0.5em 4em;
                display: inline-block;
                text-decoration: none;
                border: 2px solid #7b1e21;
                border-radius: 50px;
                transform: translateY(0);
                opacity: 1;
                animation: smoothSlideUp 1s ease-out;
        }
    }


}

@keyframes smoothSlideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@media only screen and (max-width : 480px){

    .pageNav .config .configMenu{
        top: 9vw;
    }
   
    section#contactForm {
        .formLayout{
            gap: 0;
            grid-template-columns: 1fr;
        }

        .container.contacto{
            h3{
                font-size: 40px;
                margin-bottom: 0.5em;
            }
        }
    }
}
