<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="../public/carritosfastfoodlogo.png" />
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/order.css">
    <link rel="stylesheet" href="../public/modal.css">
    <title>Formulario de Cotización</title>
</head>

<body>
    <div class="parent">
        <header class="header">
            <nav class="pageNav">
                <a href="../index.html">Carritos Fast Food</a>
                <div class="config">
                    <i class="fas fa-cog" id="configBtn"></i>
                    <div class="configMenu" id="configMenu" >
                        <ul>
                            <li id="openModal">
                                <i class="fa-solid fa-ban"></i>
                                <p>Palabras Restringidas</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section id="contactForm">

            <div class="container contacto">
                <h1>Formulario de Cotización</h1>
                <form id="miForm">
                    <div class="formLayout">
                        <div class="left">
                            <div class="fgroup">
                                <label for="inputName"><b>Nombre</b></label>
                                <input type="text" class="finput" id="inputName" placeholder="Jane" required>
                            </div>
                            <div class="fgroup">
                                <label for="inputRut"><b>Rut</b></label>
                                <input type="text" class="finput" id="inputRut" placeholder="XXXXXXXX-X" required
                                    oninput="validarRut(this)">
                            </div>

                            <div class="fgroup">
                                <label for="inputEmail"><b>Dirección</b></label>
                                <input type="text" class="finput" id="inputAddress" placeholder="Dirección" required>
                            </div>

                            <div class="fgroup">
                                <label for="inputPhoneNumber"><b>Teléfono</b></label>
                                <input type="number" class="finput" id="inputPhoneNumber" placeholder="9XXXXXXXX"
                                    required>
                            </div>
                        </div>

                        <div class="right">

                            <div class="fgroup">
                                <label for="productName"><b>Nombre producto</b></label>
                                <textarea class="finput textArea" rows="5" cols="50" id="inputProductName"
                                    required></textarea>
                            </div>

                            <div class="fgroup">
                                <label for="inputPrice"><b>Valor total producto</b></label>
                                <input type="number" class="finput" id="inputValue" placeholder="Escriba un monto"
                                    required>
                            </div>

                            <div class="fgroup">
                                <label for="productDescription"><b>Especificaciones producto</b></label>
                                <textarea class="finput textArea" rows="5" cols="50" id="inputProductDescription"
                                    required oninput="validateDescription(this)"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="buttonBox">
                        <button type="submit" class="botonEnviarMensaje" id="btnCotizar">Cotizar</button>
                        <a class="buttonBack" href="../index.html">Volver</a>
                    </div>
                </form>
            </div>
        </section>

        <footer id="footer"></footer>
    </div>

    <dialog id="modalRW">
        <section class="modalHeader">
            <h2>Palabras Restringidas</h2>
            <i><i class="fa-solid fa-xmark" id="closeModal"></i></i>
        </section>
        <section class="modalContent">
            <div class="groupC">
                <h3>Agregar Palabra</h3>
                <div class="bgRow">
                    <input type="text" placeholder="Escriba una palabra..." id="inputWord">
                    <button class="btnFill" id="btnAddWord">Agregar</button>    
                </div>
            </div>
            <div class="groupRUD">
                <h3>Palabras Restringidas</h3>
                <div class="list" id="listWords"></div>
            </div>
        </section>
    </dialog>
    <script src="../models/order.js"></script>
    <script src="../models/wordManager.js"></script>
</body>

</html>  