<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/fastfood/public/carritosfastfoodlogo.png"/>
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/ordersView.css">
    <title>Listado de Cotizaciones</title>
</head>

<body>
    <header class="header">
        <div class="pageHeader">
            <a href="/fastfood/index.html">Carritos Fast Food</a>
        </div>
    </header>



    <div class="container">
        <h1>Listado de Cotización</h1>
        <section class="filter">
            <label for="date">Fecha:</label>
            <input type="date" id="dateFilter">
        </section>

        <div class="resultHeader">
            <h3>Número pedido</h3>
            <h3>Fecha</h3>
        </div>
        <div class="mainTable">
            <div class="resultContainer" id="results">
            </div>
        </div>
        <div class="btnAnchor">
            <a class="buttonBack" href="/fastfood/index.html">Volver</a>
        </div>
    </div>
    
    <script src="/fastfood/models/ordersView.js"></script>
</body>

</html>